{% extends "base.html" %}

{% block content %}
<div id="container" class="clear">
    <section id="fof" class="clear">
        <div class="positioned">
            <div class="hgroup">
                <h1>Congratulations!</h1>
                <h3>You Found 500 Error Page</h3>
            </div>
            <p>
                The administrator has been notified. Sorry for the inconvenience!</p>
            <div id="respond">
                <a href="{{ url_for('index') }}" class="btn btn-warning">Go back &amp; Explore Our Site</a>
            </div>
            <br />
            <br>
        </div>
    </section>
</div>
{% endblock %}