{% block content %}
<div class='container'>
    <table>
        <tr valign="top">
            <td><img src="{{ answer.author.avatar(36) }}"></td>
            <td><a href="{{ url_for('user', username=answer.author.username) }}"
                    class="text-decoration-none">@{{ answer.author.username }} : </a>{{ answer.body }}
                {% if answer.time %}<p class="small" style="color: #7b858a">{{ moment(answer.time).format('LLL') }}</p>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}

{% block scripts %}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{% endblock %}