{% block content %}
<table>
    <tr valign="top">
        <td><img src="{{ question.author.avatar(36) }}"></td>
        <td><a href="{{ url_for('user', username=question.author.username) }}"
                class="text-decoration-none">@{{ question.author.username }} :
            </a>
            <a href="{{url_for('question_detail',question_id=question.id)}}"
                class="text-decoration-none">{{question.description }}</a>
            {% if question.time %}<p class='small' style="color: #6b767e">{{ moment(question.time).format('LLL') }}</p>
            {% endif %}
        </td>
    </tr>
</table>
{% endblock %}

{% block scripts %}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{% endblock %}