{% extends "base.html" %}

{% block content%}
<div style="margin: 0 10% 0 10%; background-image: url('sof_home.jpg')">
    <div style="padding-bottom: 2%">
        <h1 style="float: left">Top Questions</h1>
        <a href="{{url_for('new_qus')}}"
            style="background-color: rgb(15, 135, 190); padding: 0.3rem; border-radius: 10px;color: white; float: right ">Ask
            Question</a>
    </div>
    <br>
    <hr>

    {%for question in questions%}
    <p class='small' style="color: #6b767e">{{ answers[questions.index(question)] }} answers</p>
    <p>
        <a class="text-decoration-none"
            href="{{url_for('question_detail',question_id=question.id)}}">{{question.description}}</a>
        <div>
            {%for tag in question.tags.all() %}
            <a style="background-color: rgb(216, 241, 241); padding: 0.3rem; border-radius: 10px; "
                href="{{url_for('q_by_tag',name=tag.name)}}" class="text-decoration-none">{{tag.name}}</a>
            {%endfor%}
        </div>
        <p class='small'>
            {% if question.time %}
            Posted {{moment(question.time).fromNow()}}
            {% endif %}
            By <a href="{{ url_for('user', username=question.author.username) }}"
                class="text-decoration-none">{{question.author.username}}</a>
            <hr>
        </p>
        {%endfor%}
</div>
{%endblock%}