{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content%}
<html>

<body>
  <div class="container">
    <h1>Post Question</h1>
    <br>
    <div class="row">
      <div class="col-md-4">
      <form class="form form-horizontal" method="post" role="form">
        {{form.hidden_tag()}}
        {{ wtf.form_field(form.title, class="form-control") }}
        {{ wtf.form_field(form.description, class="form-control") }}
        {{ wtf.form_field(form.tags, class="form-control") }}
        {{ wtf.form_field(form.submit, button_map={'submit':'success'}) }}
        </form>
      </div>
    </div>
  </div>
</body>

</html>
{% endblock %}