{% extends "base.html" %}
{% block content%}
<div class='container'>
    <p>
        Tag : <a style="background-color: rgb(216, 241, 241); padding: 0.3rem; border-radius: 10px; "
            href="{{url_for('q_by_tag',name=tag.name)}}" class="text-decoration-none">{{tag.name}}</a><br>
        <hr>
    </p>

    <h2>Questions :</h2>
    <p>
        {%for question in questions %}
        {% include '_question.html' %}
        <hr>
    </p>
    {%endfor%}
</div>
{%endblock%}