{% extends "index.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
   <div class='container'>
    <h4>Reset Password</h4>
    <p>Please enter your registered mail ID to find your account</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ wtf.form_field(form.email, class="form-control") }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ wtf.form_field(form.submit, button_map={'submit':'success'})}}
        </p>
    </form>
</div>
{% endblock %}