{% extends "index.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{%block content%}
<div style="margin: 0% 10% 0% 10%">
  <p>
    <h4>{{question.title}}</h4><br>
    {% include '_question.html' %}
  </p>
  <p>
    {% for tag in question.tags.all() %}
    <a style="background-color: rgb(216, 241, 241); padding: 0.3rem; border-radius: 10px; "
      href="{{url_for('q_by_tag',name=tag.name)}}" class="text-decoration-none">{{tag.name}}</a>
    {%endfor%}
    <p><a href="{{ url_for('new_qus') }}" class='small' style="color: #6b767e">Edit question</a></p>
  </p>
  <p>
    <b>Answers</b><br>
    <hr>
    {%for answer in answers%}
    {% include '_answer.html' %}
    {% if answer.time %}
    {% endif %}
    <hr>
    {%endfor%}
  </p>
  {% if current_user.is_anonymous %}
  <p>Please login to submit your answer.
    <a href="{{ url_for('login') }}">Click here to login!</a>
  </p>
  {% else %}
  <form action="" method='post'>
    {{ form.hidden_tag() }}
    <p class="col-md-4">
      {{ wtf.form_field(form.ans, class="form-control") }}
    </p>

    <p class="d-flex align-items-center">{{ wtf.form_field(form.submit, button_map={'submit':'success'}) }}</p>
  </form>
</div>
{%endif%}
{%endblock%}

{% block scripts %}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{% endblock %}