{% extends "index.html" %}

{% block content %}
<br>
<br>
<br>
<div style="margin: 0% 10% 10% 10%">
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>@{{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p class="small" style="color: #7b858a">Last seen : {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}" class="text-decoration-none">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <h3>Questions:</h3>
    {% for question in questions %}
    {% include '_question.html' %}
    <br>
    {% endfor %}

    <hr>
    <h3>Answers:</h3>
    {% for answer in answers %}
    {% include '_answer.html' %}
    {% endfor %}
     <br>  <br>  <br>
    <div>
    <button onclick="generateFile({{user.id}})" id="generate-file" class="btn btn-lg btn-primary">Text File</button>
        <a href="#" target="_blank" id="download-button" class="btn btn-danger btn-lg" download style="display:none">Download</a>
    </div>
</div>
{% endblock %}